@use 'bootstrap';
@use './partials/header.scss';
@use './partials/footer.scss';
@use './partials/main.scss';

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}